* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffaf0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding-right: 1rem;
    padding-left: 1rem;
}
.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}

h1,
h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

h1::before {
    content: "📧";
    display: block;
}

form{
    width: 100%;
    max-width: 30rem;
    font-size: 1rem;
}

form label,
form input,
form textarea,
form button {
    display: block;
    width: 100%;
}

form label{
    color: #000;
    line-height: 1;
    margin-bottom: 0.5rem;
}

form input,
form textarea{
    font: inherit;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

form textarea{
    min-height: 10rem;
    resize: vertical;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus{
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

form button{
    display: block;
    padding: 0.5rem;
    background: #007bff;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

}

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
    filter: grayscale(30%);
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        filter: grayscale(30%);
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */